h1{
    font-size:20px;
}
h2{
    font-size:12px;
    font-style: italic;


}
.remove-btn{
	margin-right: 0.5rem;
}

.fade-enter{
	opacity: 0.01;
}

.fade-enter-active{
	opacity: 1;
	transition: opactiy 100000ms ease-in;
}

.fade-exit{
	opacity: 1;
}

.fade-exit-active{
	opacity: 0.01;
	transition: opactiy 100000ms ease-in;
}
