#inputmessage {
  /* position: absolute; */
  bottom: 10px;
}

.ChatRoom-Components {
  height: 92vh;
  display: flex;
  align-items: stretch;
}

.UserList,
.ChatBox,
.ChatroomList {
  margin: 8px 4px 4px 4px;
  border-radius: 4px;
}

.UserList {
  border: 1px solid #e2dbd8;
  background-color: #130307;
  flex-grow: 1;
  flex-basis: 10%;
}

.ChatBox {
  border: 1px solid #757343;
  background-color: #3c261b;
  flex-grow: 5;
  flex-basis: 79%;
}

.ChatroomList {
  flex-grow: 1;
  flex-basis: 11%;
}
