.UserList-userSettingsMenuContent {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e2dbd8;
  background-color: #130307;
  color: #eadbc7;
  border-radius: 4px;
  margin: 4.8rem 2rem;
  justify-content: space-around;
  height: 18vh;
  width: 33vh;
}

.UserSettings-Username {
  font-size: 30px;
  padding: 0 0 0 6px;
  width: 30.6vh;
  height: 3rem;
  margin: 10px 5px 5px 5px;
  align-self: flex-start;
}

.UserSettings-PrioritySelector {
  font-size: 20px;
  padding: 0 0 0 6px;
  width: 30.6vh;
  height: 2.3rem;
  align-self: flex-start;
}

.UserSettings-PrioritySelector select {
  margin: 0 0 0 45%;
  color: #eadbc7;
  width: 70px;
  font-size: 12px;
}

.UserSettings-RemoveUserbtn,
.UserSettings-CancelBtn,
.UserSettings-SaveBtn {
  font-size: 15px;
  margin-bottom: 2px;
  text-align: center;
  width: 8.8vh;
  height: 2rem;
  color: #eadbc7;
}

.UserSettings-RemoveUserbtn {
  background-color: #bd6c3a;
}

.UserSettings-RemoveUserbtn,
.UserSettings-CancelBtn,
.UserSettings-SaveBtn,
.UserSettings-PrioritySelector,
.UserSettings-PrioritySelector select,
.UserSettings-Username {
  border: 1px solid #757343;
  background-color: #3c261b;
  border-radius: 4px;
}
